In [1]:
import pandas as pd

In [21]:
df=pd.read_csv('customer.csv')

In [22]:
df.head()
df=df.iloc[:,2:]
df.sample(4)

     review education purchased
8   Average        UG        No
41     Good        PG       Yes
38     Good    School        No
35     Poor    School       Yes

In [59]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train,y_test=train_test_split(df.iloc[:,:2],df.iloc[:,-1],test_size=0.3)
print(x_train)
print(y_train)
print(x_test)
print(y_test)

     review education
45     Poor        PG
19     Poor        PG
21  Average        PG
49     Good        UG
2      Good        PG
8   Average        UG
26     Poor        PG
23     Good    School
30  Average        UG
27     Poor        PG
28     Poor    School
42     Good        PG
48     Good        UG
37  Average        PG
46     Poor        PG
35     Poor    School
39     Poor        PG
31     Poor    School
24  Average        PG
17     Poor        UG
9      Good        UG
41     Good        PG
43     Poor        PG
22     Poor        PG
29  Average        UG
38     Good    School
10     Good        UG
5   Average    School
12     Poor    School
47     Good        PG
3      Good        PG
18     Good    School
4   Average        UG
16     Poor        UG
6      Good    School
45    Yes
19    Yes
21     No
49     No
2      No
8      No
26     No
23     No
30     No
27     No
28     No
42    Yes
48    Yes
37    Yes
46     No
35    Yes
39     No
31    Yes
24    Yes
17    Yes
9     Yes
41    Yes
43     No
22    Yes
29    Yes
38     No
10    Yes
5     Yes
12     No
47    Yes
3      No
18     No
4      No
16    Yes
6      No
Name: purchased, dtype: object
     review education
15     Poor        UG
13  Average    School
14     Poor        PG
33     Good        PG
7      Poor    School
36     Good        UG
0   Average    School
1      Poor        UG
34  Average    School
40     Good    School
32  Average        UG
25     Good    School
20  Average    School
11     Good        UG
44  Average        UG
15     No
13     No
14    Yes
33    Yes
7     Yes
36    Yes
0      No
1      No
34     No
40     No
32    Yes
25     No
20    Yes
11    Yes
44     No
Name: purchased, dtype: object

In [60]:
from sklearn.preprocessing import OrdinalEncoder
OE=OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

x_train_en=OE.fit_transform(x_train)
y_test_en=OE.fit_transform(x_test)

In [63]:
x_train_en=pd.DataFrame(x_train_en, columns=x_train.columns)
y_test_en=pd.DataFrame(y_test_en, columns=x_test.columns)

In [64]:
x_train_en

    review  education
0      0.0        2.0
1      0.0        2.0
2      1.0        2.0
3      2.0        1.0
4      2.0        2.0
5      1.0        1.0
6      0.0        2.0
7      2.0        0.0
8      1.0        1.0
9      0.0        2.0
10     0.0        0.0
11     2.0        2.0
12     2.0        1.0
13     1.0        2.0
14     0.0        2.0
15     0.0        0.0
16     0.0        2.0
17     0.0        0.0
18     1.0        2.0
19     0.0        1.0
20     2.0        1.0
21     2.0        2.0
22     0.0        2.0
23     0.0        2.0
24     1.0        1.0
25     2.0        0.0
26     2.0        1.0
27     1.0        0.0
28     0.0        0.0
29     2.0        2.0
30     2.0        2.0
31     2.0        0.0
32     1.0        1.0
33     0.0        1.0
34     2.0        0.0

In [39]:
y_train_en

    review  education
0      1.0        0.0
1      0.0        1.0
2      1.0        1.0
3      0.0        0.0
4      0.0        2.0
5      0.0        2.0
6      2.0        0.0
7      2.0        0.0
8      2.0        2.0
9      1.0        1.0
10     2.0        2.0
11     0.0        2.0
12     1.0        0.0
13     2.0        1.0
14     1.0        1.0

# Label Encoding

In [65]:
from sklearn.preprocessing import LabelEncoder

In [66]:
le=LabelEncoder()
yend=le.fit_transform(y_train)
xend=le.fit_transform(y_test)

In [69]:
xend

array([0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0])

In [70]:
yend

array([1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0])